@use '../abstracts/' as *;

footer {
	display: flex;
	justify-content: center;
	background-color: $color-background-dark;
	color: $color-text-secondary;
	padding: 1.5rem;

	p {
		margin-inline: 1rem;
		margin-bottom: 0;
		width: auto;
		
		a.text-link {
			color: $color-text-secondary;
		}
	}
}