@use '../abstracts' as *;

#main-page {
	background: set-page-background('../../img/main_view.jpg') center bottom;
}

#offer {
	background: set-page-background('../../img/banners/banner_offer.jpeg');
	background-position-y: 70%;
}

#prevention {
	background: set-page-background('../../img/banners/banner_prevention.jpeg');
	background-position-y: 50%;
}

#aesthetic-dentistry {
	background: set-page-background('../../img/banners/banner_aesthetics.jpeg');
	background-position-y: 20%;
}

#digital-dentistry {
	background: set-page-background('../../img/banners/banner_digital.jpeg');
	background-position-y: 35%;
}

#inlay-onlay {
	background: set-page-background('../../img/banners/banner_inlay_onlay.jpeg');
	background-position-y: 40%;
}

#prosthodontics {
	background: set-page-background('../../img/banners/banner_prosthodontics.jpeg') right;
	background-position-y: 57%;
}

#periodontics {
	background: set-page-background('../../img/banners/banner_periodontics.jpeg');
}

#joints {
	background: set-page-background('../../img/banners/banner_joints.jpeg');
	background-position-y: 60%;
}

#prices {
	background: set-page-background('../../img/banners/banner_prices.jpeg');
	background-position-y: 25%;
}

#contact {
	background: set-page-background('../../img/banners/banner_contact.jpeg');
	background-position-y: 10%;
}

#faq {
	background: set-page-background('../../img/banners/banner_faq.jpeg');
	background-position-y: 30%;
}

#appointments {
	background: set-page-background('../../img/banners/banner_appointment.jpeg');
	background-position-y: 35%;
}

#conservative-dentistry {
	background: set-page-background('../../img/banners/banner_conservatives.jpeg');
	background-position-y: 15%;
	background-position-x: 50%;
}

#diagnostics {
	background: set-page-background('../../img/banners/banner_diagnostics.jpeg');
	background-position-y: 50%;
}

#endodontics {
	background: set-page-background('../../img/banners/banner_endodontics.jpeg');
	background-position-y: 10%;
}

#implantology {
	background: set-page-background('../../img/banners/banner_implants.jpeg');
}

#dental-surgery {
	background: set-page-background('../../img/banners/banner_surgeries.jpeg');
	background-position-y: 50%;
}

#certificates {
	background: set-page-background('../../img/banners/banner_certificates.jpeg');
	background-position-y: 35%;
}

#about {
	background: set-page-background('../../img/banners/banner_about.jpeg');
	background-position-y: 40%;
}
	
#not-found,
#privacy-policy {
	background: set-page-background('../../img/turtle.jpg');
}

.page-wrapper {
	padding-top: $banner-height;

	.banner {
		@include fixed-full-width;
		height: $banner-height;
		background-size: cover !important;
		@include flex-column-center-screen;
		text-align: center;

		&-title {
			border-bottom: 2px solid $color-text-secondary;
		}
	}
}

@include media-md {
	.banner {
		padding: 5rem;

		&-title {
			max-width: 520px;
		}

		h1 {
			font-size: $font-size-h1;
		}
	}
}