@use './colors' as *;

$time-slow: 0.6s;
$time-fast: 0.3s;

@mixin transition-ease-fast {
    transition: all $time-fast ease-in-out;
}

@mixin transition-ease-slow {
    transition: all $time-slow ease-in-out;
}

@mixin transition-modal-closing {
    transition: visibility 0s linear $time-fast, opacity $time-fast;
}

@mixin transition-modal-opening {
    transition: visibility 0s, opacity 400ms;
}

@keyframes pulse {
    100% {
        box-shadow: 0 0 0 0 $color-accent;
    }
}

@function set-item-delay($itemNo) {
    @return ($itemNo * 0.1s) + 0.15s;
}