@use '../abstracts/' as *;

.history {
	align-items: center;
	padding-inline: 10rem;

	&-pictures {
		display: flex;
		justify-content: center;

		&-single {
			@include flex-center;
			
			img {
				margin: 2rem;
				max-width: $image-history-max-width;
			}

			span {
				font-weight: $font-weight-pale;
			}
		}
	}
}

.employee {
	flex-direction: row;

	.img-box {
		flex: 0 0 20%;
		align-self: flex-start;
		// max-width: 20%;
		margin: 2rem 5rem 2rem 0rem;
	}

	&-picture {
		width: 100%;
		height: auto;
		box-shadow: $img-shadow;
	}

	&-about {
		h2 {
			margin-bottom: 0.5rem;
		}

		.subheadder {
			color: $color-accent;
			text-transform: uppercase;
			margin-bottom: 3rem;
		}
	}
}