@use '../config'as *;

.contact {
	justify-content: space-between;
	padding-bottom: 3rem;

	&-info {
		address a {
			display: inline-block;
			margin-top: 1rem;
		}
	}

	&-form {
		width: 100%;
		display: flex;
		flex-direction: column;

		label {
			display: none;
		}

		label[for=agreement] {
			display: block;
		}

		&-text {
			display: flex;
			flex-direction: column;
		}

		&-input {

			input,
			textarea,
			select {
				margin-top: 1rem;
				margin-bottom: 0;
				border: none;
				border-bottom: 1px solid $secondary-color;
				background-color: $primary-color;
				color: $secondary-color;
				font-family: 'Montserrat', sans-serif;
				;
				padding-bottom: 0.4rem;
				@include transition-ease;

				&::placeholder {
					color: rgba($secondary-color, $alpha: 0.6);
				}

				&:hover {
					border-color: $accent-color;
				}

				&:focus {
					border-color: $accent-color;
					outline: none;
				}

				&:-webkit-autofill {
					box-shadow: 0 0 0 1000px $primary-color inset !important;
				}
			}

			.error-input {
				border-bottom: 1px solid red;
			}

			.error-text {
				color: red;
				font-family: inherit;
				font-size: 0.8rem;
				min-height: 20px;
			}
		}

		&-info-message {
			i {
				margin-right: 0.5rem;
			}
		}

		&-agreement-box {
			display: flex;
			flex-direction: row-reverse;
			justify-content: start;
			align-items: center;
			padding-block: 1rem;
			gap: 0.5rem;

			input {
				width: auto;
				margin: 0;
			}
		}

		.submit {
			border: none;
			margin: 1rem auto 0;
			padding: 0.7rem 2rem;
			width: 170px;
		}
	}
}


.map-container {
	flex-direction: column;
	align-items: center;
	padding-top: 2rem;

	.map {
		width: 100%;
		height: 50vh;
		margin-top: 2rem;
		border: none;
	}
}