@use '../config' as *;

.contact {
	display: flex;
	justify-content: space-around;
	width: 100%;
	padding: 1rem 2rem;
	gap: 2rem;
}

.contact-info {
	width: 50%;

	address a {
		display: inline-block;
		margin-top: 1rem;
	}
}

.map {
	width: 100%;
	height: 50vh;
	padding: 3rem 5rem 0;
	border: none;
}

.contact-form {
	width: 50%;
	max-width: 500px;
	margin: auto;
	display: flex;
	flex-direction: column;
	
	label {
		display: none;
	}

	&-input {
		width: 100%;
		margin-top: 1rem;
		margin-bottom: 0;
		border: none;
		border-bottom: 1px solid $secondary-color;
		background-color: $primary-color;
		color: $secondary-color;
		font-family: 'Montserrat', sans-serif;;
		padding-bottom: 0.4rem;
		@include transition-ease;
		
		&::placeholder {
			color: rgba($secondary-color, $alpha: 0.6);
		}
	
		&:hover {
			border-color: $accent-color;
		}
	
		&:focus {
			border-color: $accent-color;
			outline: none;
		}
	
		&:-webkit-autofill,
		&:-webkit-autofill:hover, 
		&:-webkit-autofill:focus {
			-webkit-text-fill-color: white;
			transition: background-color 5000s ease-in-out 0s;
		}
	}

	.submit {
		width: auto;
		border: none;
		margin: 1rem auto 0;
		padding: 0.7rem 2rem;
		font-weight: 300;
		letter-spacing: 0.3px;
		line-height: 25px;
		width: 170px;
	}

	.error-input {
		border-bottom: 1px solid red;
	}

	.error-text {
		color: red;
		font-family: inherit;
		font-size: 0.8rem;
		min-height: 20px;
	}
}