@use '../config' as *;

h1.device {
	font-style: normal;
}

.scroll-down {
	position: fixed;
	bottom: 1rem;
	font-size: 2vw;
	color: $primary-color;
	cursor: pointer;
	@include transition-ease;

	&:hover {
		color: $accent-color;
	}
}