@use '../config' as *;

h1.device {
	font-style: normal;
}

.scroll-down {
	position: fixed;
	bottom: 1rem;
	font-size: 2vw;
	color: $primary-color;
	cursor: pointer;
	
	&:hover {
		i {
			color: $accent-color;
		}
	}
}

.quote {
	position: absolute;
	bottom: 5px;
	right: 5px;
	color: $primary-color;

	q {
		font-family: "Playfair Display", serif;
		font-style: italic;
	}
}