@use '../abstracts/' as *;

.tabs-nav {
	display: grid;
    grid-template-columns: repeat($tab-nav-columns, 1fr);
	margin-bottom: 3rem;
	padding-left: 0px;
	border: 1px solid rgba($color-text, 0.2);
	border-radius: 1rem;

	li {
		@include flex-center;
		padding: 0.5rem;
		list-style: none;
		text-align: center;
		cursor: pointer;
		@include transition-ease-fast;
		@include set-corner-round;

		&:hover {
			background: rgba($color-accent, 0.2);
		}

		&.active {
			color: $color-text-secondary;
			background: $color-accent;
		}
	}
}

.prices {
	max-width: 1200px;

	&-item {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		padding: 0.5rem 0.5rem;
		padding-bottom: 0;
		@include transition-ease-fast;

		&:hover {
			border-radius: 5px;
			background-color: rgba($color-accent, 0.1);
		}

		p {
			width: auto;
			margin-bottom: 0.2rem;

			dt {
				margin-right: -8px;
			}
		}
	}

	&-multiple {
		flex-direction: column;

		&-items {
			display: grid;
			grid-template-columns: repeat(2, auto);
			padding-left: 2rem;

			p {
				padding-top: 0.2rem;
			}

			p:nth-child(2n) {
				text-align: right;
			}
		}
	}

	dd, aside {
		padding: 1rem 1rem 0rem;
	}
}