@use '../config' as *;

.tabs-nav {
	display: grid;
    grid-template-columns: repeat($tab-nav-columns, 1fr);
	width: 100%;
	margin-bottom: 3rem;
	padding-left: 0px;
	border: 1px solid rgba($secondary-color, 0.2);
	border-radius: 1rem;

	li {
		padding: 0.5rem;
		list-style: none;
		text-align: center;
		cursor: pointer;
		@include transition-ease;
		@include set-corner-round;

		&:hover {
			background: rgba($accent-color, 0.2);
		}

		&.active {
			color: $primary-color;
			background: $accent-color;
		}
	}
}

.prices {
	flex-direction: column;
	padding-bottom: 0rem;
	max-width: 1200px;
	border-bottom: none;

	&-item {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		padding: 0.5rem 0.5rem;
		padding-bottom: 0;
		@include transition-ease;

		&:hover {
			border-radius: 5px;
			background-color: rgba($accent-color, 0.1);
		}

		p {
			width: auto;
			margin-bottom: 0.2rem;
			display: flex;

			dt {
				margin-right: -8px;
			}
		}
	}

	&-multiple {
		flex-direction: column;

		&-items {
			display: grid;
			grid-template-columns: repeat(2, auto);
			justify-content: space-between;
			padding-left: 2rem;

			p {
				padding-top: 0.2rem;
				display: block;
			}

			p:nth-child(2n) {
				text-align: right;
			}
		}
	}

	dd, aside {
		padding: 1rem 1rem 0rem;
	}
}