@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&amp;family=Playfair+Display:ital@0;1&amp;display=swap');

$primary-color: #fff;
$secondary-color: #000;
$footer-color: #1f1f1f;
$accent-color: #18b6d2;

$slow-trnsition-time: 0.6s;
$default-banner-height: 40vh;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@function set-page-background($url) {
		@return 
		linear-gradient(
			to right,
			rgba($secondary-color, 0.5),
			rgba($secondary-color, 0.3)
		),
		url($url) no-repeat;
}

@mixin transition-ease {
	transition: all 0.3s ease-in-out;
}

@mixin transition-ease-slow {
	transition: all $slow-trnsition-time ease-in-out;
}

@mixin media-md {
	@media screen and (max-width: 970px) {
		@content;
	}
}

@mixin media-td {
	@media screen and (max-width: 1200px) {
		@content;
	}
}

@keyframes pulse {
	100% { 
		box-shadow: 0 0 0 0 $accent-color;
	}
}