@use 'config' as *;

@use 'fragments/header/header';
@use 'fragments/header/navigation';
@use 'fragments/banners';
@use 'fragments/footer';

@use 'pages/mainPage';
@use 'pages/about';
@use 'pages/offer';

body {
	font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
	font-family: 'Playfair Display', serif;
	padding-bottom: 1rem;
	white-space: pre-line;
}

h1, h2 {
	font-weight: 400;
	font-size: 3vw;
}

h1 {
	color: $primary-color;
	font-style: italic;
}

h3 {
	padding-top: 1rem;
	font-weight: 400;
	font-size: 2.2rem;
}

b {
	font-weight: 500;
}

a.text-link {
	color: $primary-color;
	@include transition-ease;

	&:hover {
		color: $accent-color;
	}
}

a.button {
	padding: 1rem 2rem;
	font-size: 0.8rem;
	text-decoration: none;
	border-radius: 10rem;
	color: $primary-color;
	background-color: $accent-color;
	cursor: pointer;
	@include transition-ease;

	&:hover {
		background-color: #1cd5f6;
	}
} 

section {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5rem 10vw;	
	background-color: $primary-color;

	p {
		font-weight: 300;
		font-size: 18px;
		letter-spacing: 0.3px;
		width: 100%;
		margin-bottom: 1rem;
	}

	p.center {
		text-align: center;
	}
}

article {
	display: flex;
	padding-bottom: 5rem;
	padding-top: 5rem;
	border-bottom: 1px solid rgba($secondary-color, 0.2);
}