@use 'config' as *;
@use 'header';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&amp;family=Playfair+Display:ital@0;1&amp;display=swap');

header {
	position: fixed;
	top: 0;
	z-index: 5;
	width: 100%;

	.header-container {
		display: flex;
		justify-content: space-between;
		z-index: 2;
		padding: 1rem 3rem;
		background-color: rgba($secondary-color, 0);
	}

	.menu{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

a {
	color: $primary-color;
	text-decoration: none;
	@include transition-ease;

	&:hover {
		color: $accent-color;
	}
}

.main-page {
	display: flex;
	justify-content: center;
	padding: 0 5rem;
	height: 100vh;
	align-items: center;
	text-align: center;
	background:
		linear-gradient(
			to right,
			rgba($secondary-color, 0.5),
			rgba($secondary-color, 0.3)
		),
		url('../img/main_view.jpg') center bottom;
	background-size: cover;

	&-device {
		max-width: 50vw;
		h1 {
			font-family: 'Playfair Display', serif;
			font-weight: 400;
			color: $primary-color;
			font-size: 3vw;
			padding-bottom: 1rem;
			margin-bottom: 1rem;
			border-bottom: 2px solid $primary-color;
		}
	}
}