@use 'config' as *;
@use 'header';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&amp;family=Playfair+Display:ital@0;1&amp;display=swap');

header {
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	
	.header-container {
		display: flex;
		justify-content: space-between;
		padding: 1rem 3rem;
		background-color: rgba($secondary-color, 0);
		@include transition-ease;
	}

	.menu{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

h1, h2, h3 {
	font-family: 'Playfair Display', serif;
	padding-bottom: 1rem;
	white-space: pre-line;
}

h1 {
	font-weight: 400;
	color: $primary-color;
	font-size: 3vw;
}

h2 {
	font-weight: 400;
	font-size: 3vw;
}

p {
	font-weight: 300;
}

p.subheadder {
	text-transform: uppercase;
}

.scroll-down {
	position: fixed;
	bottom: 1rem;
	font-size: 1.5vw;
	color: $primary-color;
	cursor: pointer;
	@include transition-ease;

	&:hover {
		color: $accent-color;
	}
}

a.text-link {
	color: $primary-color;
	text-decoration: none;
	@include transition-ease;

	&:hover {
		color: $accent-color;
	}
}

a.button {
	color: $primary-color;
	font-size: 0.8rem;
	padding: 1rem 2rem;
	border-top: 1px solid $primary-color;
    border-bottom: 1px solid $primary-color;
	border-radius: 10rem;
	text-decoration: none;
	cursor: pointer;
	@include transition-ease-slow;

	&:hover, &:focus {
		background-color: rgba($accent-color, $alpha: 1);
		border-color: rgba($primary-color, 0.3);
		animation: pulse $slow-trnsition-time;
		box-shadow: 0 0 0 2rem rgba(#000, 0);
	}
}

#main-page {
	padding-top: 100vh;
	.banner {
		height: 100vh;
		background:
		linear-gradient(
			to right,
			rgba($secondary-color, 0.5),
			rgba($secondary-color, 0.3)
		),
		url('../img/main_view.jpg') center bottom no-repeat;
		background-size: cover;
	}
}

#about {
	padding-top: 60vh;
	.banner {
		height: 60vh;
		background:
		linear-gradient(
			to right,
			rgba($secondary-color, 0.5),
			rgba($secondary-color, 0.3)
		),
		url('../img/turtle.jpg') no-repeat;
		background-size: cover;
	}
}

.banner {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 5rem;
	align-items: center;
	text-align: center;

	&-title {
		max-width: 50vw;
		margin: 10vh 0;

		h1 {
			border-bottom: 2px solid $primary-color;
		}
	}
}

@include media-md {
	.banner{
		padding: 0;
		
		&-title {
			max-width: 520px;
		}

		h1 {
			font-size: 2rem;
		}
	}
}

section {
	position: relative;
	height: 100vh;
	background-color: $primary-color;
}

.main-wrapper {
	
}

.navbar-dark {
	background-color: rgba($secondary-color, 0.7) !important;
	padding: 0 3rem !important;
	@include transition-ease;

	img, .logo {
		transform: scale(1);
		@include transition-ease;
	}

	.menu-nav-link {
		font-size: 1.2rem;
	}
}

// .page {
// 	padding-top: 60vh;
// 	&-banner {
// 		position: fixed;
// 		top: 0;
// 		width: 100%;

// 		&-photo {
// 			width: 100%;
// 		}
// 	}

// 	&-content {
// 		position: relative;
// 		display: flex;
// 		flex-direction: column;
// 		align-items: center;
// 		padding: 5rem 10vw;
// 		background-color: white;
// 	}
// }

// .employee {
// 	display: flex;
	
// 	img {
// 		max-width: 100%;
// 		height:auto
// 	}
// }