@use '../../config' as *;

header {
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	
	.header-container {
		display: flex;
		justify-content: space-between;
		padding: 1rem 3rem;
		background-color: rgba($secondary-color, 0);
		@include transition-ease;
	}

	.menu{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.navbar-dark {
	background-color: rgba($secondary-color, 0.7) !important;
	padding: 0 3rem !important;
	@include transition-ease;

	img, .logo {
		transform: scale(1);
		@include transition-ease;
	}

	.menu-nav-link {
		font-size: 1.2rem;
	}
}