@use '../config' as *;

#main-page {
	background: set-page-background('../../img/main_view.jpg') center bottom;
	
	a.button {
		border-top: 1px solid $primary-color;
		border-bottom: 1px solid $primary-color;
		background-color: transparent;
		@include transition-ease-slow;
	
		&:hover {
			background-color: $accent-color;
			border-color: rgba($primary-color, 0.3);
			animation: pulse $slow-trnsition-time;
			box-shadow: 0 0 0 2rem rgba(#000, 0);
		}
	}
}

#about,
#offer,
#prices,
#contact,
#not-found,
#aesthetic-dentistry,
#conservative-dentistry,
#dental-surgery,
#diagnostics,
#endodontics,
#implants,
#joints,
#onlay-inlay,
#periodontics,
#prevention,
#prosthodontics {
	background: set-page-background('../../img/turtle.jpg');
}

.page-wrapper {
	padding-top: $banner-height;
	.banner {
		height: $banner-height;
		background-size: cover !important;

		a {
			color: $primary-color;
		}
	}
}

.main-wrapper {
	padding-top: 100vh;
	.banner {
		height: 100vh;
	}
	.section {
		height: 100vh;
	}
}

.banner {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 5rem;
	align-items: center;
	text-align: center;

	&-title {
		max-width: 50vw;
		margin: 10vh 0;

		h1 {
			border-bottom: 2px solid $primary-color;
		}
	}
}

@include media-md {
	.banner{
		padding: 0;
		
		&-title {
			max-width: 520px;
		}

		h1 {
			font-size: 2rem;
		}
	}
}